<div>
    <!-- Place this above or below your form -->
    <img src="logo.png" alt="App Logo" width="200" height="auto" />

    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text" />

        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />

        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <br>
        <br>
        <button (click)="toRegister()">Register</button>
        <br>
    </form>
</div>